<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestWebService.Properties.Settings.ConnectionString"
            connectionString="Data Source=LAPTOP-2E6BHQDP\SQLEXPRESS;Initial Catalog=L3MDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>